.signup-form-container {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 112px);
}

.signup-form-container form {
	width: 350px;
	display: block;
}

.signup-form-container form button {
	margin-top: 10px;
	width: 100%;
}
