/* .watch-page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.video-container {
	width: 100%;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
}

.video-container h2,
.video-container p {
	padding-left: 20px;
}

.videos-list {
	display: block;
	/* max-width: 1400px; */
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

.videos-list .completed {
	color: black;
}

.videos-list .current {
	color: green;
}

.videos-list .duration {
	display: inline-block;
	padding-left: 20px;
}
.videos-list .lesson {
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	padding-left: 20px;
}
.videos-list .module {
	display: block;
	border: 1px solid black;
}

.videos-list .module .lesson {
	display: block;
	border: 1px solid black;
}

.comment-section {
	display: block;
	/* max-width: 1400px; */
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
}
.comment-section .new-comment {
	width: 100%;
}
.comment-section .new-comment input {
	margin-left: 20px;
	padding: 4px;
}
.comment-section .new-comment input {
	margin-left: 20px;
	margin-right: 20px;
}
.comment-section .comment {
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	border-top-left-radius: 0;
	margin: 10px;
}

.comment-section input {
	margin-left: 10px;
	padding: 4px;
}

.comment-section .comment .reply {
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	border-top-left-radius: 0;

	margin: 10px;
}

.comment-section .timestamp {
	display: block;
	text-align: end;
}

@media only screen and (max-width: 1000px) {
	.video-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.videos-list {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (max-width: 600px) {
	.video-container {
		padding-left: 0;
		padding-right: 0;
	}
	.videos-list,
	.comment-section {
		margin-left: 0;
		margin-right: 0;
	}
}
